@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container>h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.inputs-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input[type=text], input[type=password]{
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}
.inputs-wrapper>button{
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  color: whitesmoke;
  background-color: hsl(240, 100%, 50%);
}
.inputs-wrapper>button:hover{
  cursor: pointer;
  background-color: hsl(240, 100%, 70%);
}
.links-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 15px;
}
.links-wrapper>a{
  text-decoration: none;

}
.links-wrapper>a:hover{
  text-decoration: underline;
  color: hsl(240, 100%, 70%);
}

